* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
}

body {
  height: 100vh ;
  background-image: url(back-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.logo {
  width: 80px;
}


li {
  list-style: none;
  
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 1.5rem;
  
}

.links a:hover{
  color: rgb(53, 135, 151);
}

  header {
    position: relative;
    background-color: #FFF;
    padding: 20px 0;
  }

.logo-name {
  display: flex;
  align-items: center;
}

.logo-name h2 {
  color: #000000;
  font-size: 30px;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;

}

.links a {
  font-size: 25px;
}

.bar-btn {
  color:#000000;
  font-size: 1.5rem;
  cursor: pointer;
  justify-content: right;
  display: none;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.login-btn {
  background-color: rgb(53, 135, 151);
  color: #FFF;
  padding:1rem 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width:200px;
  display: flex;
  justify-content: center;
}

.login-btn:hover {
  background-color: rgb(132, 200, 213); ;
}

.drop-down {
  display: none;
  position: absolute;
  right: 2rem;
  top:60px;
  height: 0;
  width: 300px;
  background: rgba(232, 236, 236, 0.53);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down.open{
  height: 200px;
}
.drop-down li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drop-down .login {
  width: 70%;
  display: flex;
  justify-content: center;
  background-color:rgba(97, 109, 113, 0.851);
  color: #FFF;
  padding:0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
}

.drop-down .login:hover {
  background-color:rgb(53, 135, 151); ;
}
.drop-down a {
  font-size: 20px;
}


.banner {
  display: flex;
  align-items: right;
  margin: 80px 80px;
}

.banner h1{
  font-size: 100px;
}

.banner p {
  font-size: 20px;
  padding-bottom: 30px;
}

.learn-more {
  background-color: rgb(53, 135, 151);
  color: #FFF;
  padding:1rem 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width:20%;
  display: flex;
  justify-content: center;
}

.learn-more:hover {
  background-color: rgb(132, 200, 213);
}


@media(max-width:1050px) {
  .navbar .links,
  .navbar .login-btn {
    display:none;
  }

  .navbar .bar-btn {
    display: block;
  }

  .drop-down {
    display: block;
    
  }
  
}

@media(max-width:882px) {
  .banner h1 {
    font-size: 50px;
  }
  .learn-more {
    width: 200px;
  }
}

@media(max-width:520px) {
  .drop-down {
    left: 2rem;
    width: unset;
  }

  .learn-more {
    width: 200px
  }
}