<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    background: url('back-image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .logo-name h2 {
    color: #000000;
    font-size: 30px;
  }

  .logo {
    width: 80px;
  }

form {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 50px;
    border-radius: 10px;
    width: 450px;
    height: 650px;
    max-width: 100%;
    text-align: center;
}

label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    
    display: flex;
    padding: 10px;
    width: 80%;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"] {
    background-color: #f6605d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="button"]:hover {
    background-color: #f02925;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
=======
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f2;
    background: url('back-image.jpeg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-name {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }
  
  .logo-name h2 {
    color: #000000;
    font-size: 30px;
  }

  .logo {
    width: 80px;
  }

form {
    background-color: rgba(255,255,255,0.9);
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    padding: 50px;
    border-radius: 10px;
    width: 450px;
    height: 650px;
    max-width: 100%;
    text-align: center;
}

label {
    display: flex;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="password"],
select {
    
    display: flex;
    padding: 10px;
    width: 80%;
    border-radius: 3px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 18px;
    display: flex;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="button"] {
    background-color: #f6605d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

input[type="button"]:hover {
    background-color: #f02925;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
>>>>>>> e218cd92c20d52bc42365778eeab6439f17afe3b
}