
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
}

.logo {
  width: 60px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.links a:hover {
  color: rgb(53, 135, 151);
}

header {
  position: sticky;
  top: 0;
  background-color: #2e2185;
  padding: 10px 0;
}

.logo-name {
  display: flex;
  align-items: center;
}

.logo-name h2 {
  color: #000000;
  font-size: 20px;
  color: #fff;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.links a {
  font-size: 20px;
}

.navbar .nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bar-btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  justify-content: right;
  display: none;
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.btn {
  background-color:blue;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 20px;
  outline: none;
  font-size: 15px;
  width: 100px;
  display: flex;
  justify-content: center;
}

.btn:hover {
  background-color: rgb(53, 135, 151);
}

.drop-down {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(232, 236, 236, 0.53);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.drop-down.open {
  height: 215px;
  background-color: #2e2185;
}
.drop-down li {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.drop-down .login {
  width: 50%;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: rgb(38, 38, 38);
  padding: 0.5rem 1.5rem;
  border: none;
  outline: none;
  border-radius: 20px;
}

.drop-down .login:hover {
  background-color: rgb(53, 135, 151);
}
.drop-down a {
  font-size: 20px;
  color: white;
}

.banner {
  display: flex;
  align-items: right;
  padding: 80px 55px;
  background-image: url("https://wp02-media.cdn.ihealthspot.com/wp-content/uploads/sites/201/2021/03/08004925/iStock-1072286960.jpg");
  background-size: cover;
}

.banner span {
  color: #2e2185;
}

.banner h1 {
  font-size: 100px;
  color: rgb(38, 38, 38);
}

.banner p {
  font-size: 20px;
  padding-bottom: 30px;
  text-align: justify;
  width: 52%;
}

.learn-more {
  background-color: blue;
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  width: 20%;
  display: flex;
  justify-content: center;
}

.learn-more:hover {
  background-color: rgb(53, 135, 151);
}



.doctor-banner {
  display: flex;
  flex-direction: column;
  background: #f2f2f2;
  padding: 40px;
}
.doctor-banner h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 30px;
  color: #2e2185;
  
}
.doctor-banner p {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: justify;
  
}

.doctors{
  display: flex;
  min-height: 40vh;
  align-items: center;
  justify-content: center;
  background: #f2f2f2;
}
.doctors::before{
  content: '';
  position: absolute;
  width: 100%;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
}
::selection{
  background:	#2e2185;
  color: #fff;
}
.container{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 20px 0;
}
.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #2e2185;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #2e2185;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #2e2185;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #2e2185;
  background-color: #fff;
  border-color: #2e2185;
}
 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #757577;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
  background: #2e2185;
  
}
#one:checked ~ .button .one{
  width: 35px;
  
}
#one:checked ~ .button .two{
  width: 15px;
  background: #757577;
}
#two:checked ~ .button .one{
  width: 15px;
  background: #757577; 
}
#two:checked ~ .button .two{
  width: 35px;
  background: #2e2185;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}



@media (max-width: 1050px) {
  .navbar .links,
  .navbar .btn {
    display: none;
  }

  .navbar .bar-btn {
    display: block;
  }

  .drop-down {
    display: block;
  }

}

@media (max-width: 882px) {
  .banner h1 {
    font-size: 50px;
  }

  .banner p {
    width: 100%;
  }
  .learn-more {
    width: 200px;
  }


}

@media (max-width: 520px) {
  .drop-down {
    left: 2rem;
    width: unset;
  }

  .learn-more {
    width: 200px;
  }

}


.about {
  display: flex;
  align-items: center;
  padding: 80px 80px;
  background-color: #2e2185;
  color: #fff;
}

.about-text h1 {
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.about-text p {
  display: flex;
  justify-content: right;
  text-align: justify;
}

.contact {
  margin: 50px 0;
}

.contact h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact-info {
  display: flex;
  flex-wrap: wrap;
}

.contact-info p {
  font-size: 18px;
  margin-right: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.contact-info a {
  text-decoration: none;
  color: #0057ff;
  margin-left: 5px;
}

.contact-info i {
  font-size: 24px;
  margin-right: 10px;
  color: #0057ff;
}

