@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald&family=Playfair+Display&family=Roboto+Condensed:wght@700&family=Ubuntu:wght@500&display=swap');

* {
    font-family: "Ubuntu", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}
:root {
    --blue: #2e2185;
    --white: #fff;
    --gray:#f5f5f5;
    --black1:#222
    --black2:#999;
}

.body {
    min-height: 100vh;
    overflow-x: hidden;   
}

.container {
    position: relative;
    width: 100%;
}

.navigation {
    position: fixed;
    width: 300px;
    height: 100%;
    background: var(--blue);
    border-left: 10px solid var(--blue);
    transition: 0.5s;
    overflow: hidden;
  }
  
  .navigation .logo img{
    width: 70px;
  }

  .navigation .logo-name {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation.active {
    width: 80px;
  }
  
  .navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .navigation ul li {
    position: relative;
    width: 100%;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  
  .navigation ul li:hover {
    background-color: var(--white);
  }
  
  .navigation ul li:nth-child(1) {
    margin-bottom: 40px;
    pointer-events: none;
  }
  
  .navigation ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: var(--white);
  }
  .navigation ul li:hover a,
  .navigation ul li.hovered a {
    color: var(--blue);
  }
  
  .navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    height: 60px;
    line-height: 75px;
    text-align: center;
  }
  .navigation ul li a .icon i {
    font-size: 1.75rem;
  }
  
  .navigation ul li a .title {
    position: relative;
    display: block;
    padding: 0 10px;
    height: 60px;
    line-height: 60px;
    text-align: start;
    white-space: nowrap;
  }
  
  /* --------- curve outside ---------- */
  .navigation ul li:hover a::before,
  .navigation ul li.hovered a::before {
    content: "";
    position: absolute;
    right: 0;
    top: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px 35px 0 10px var(--white);
    pointer-events: none;
  }
  .navigation ul li:hover a::after,
  .navigation ul li.hovered a::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -50px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 35px -35px 0 10px var(--white);
    pointer-events: none;
  }
  

.main {
    position: absolute;
    width: calc(100% - 300px);
    left: 300px;
    min-height: 100vh;
    background: var(--white);
    transition: 0.5s;
  }
  .main.active {
    width: calc(100% - 80px);
    left: 80px;
  }

  .topbar {
    margin-left:0;
    margin-right:0;
    max-width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;

  }
  
  .toggle {
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    cursor: pointer;
    color: var(--black1 );
  }

  .search {
    position: relative;
    width: 400px;
    margin: 0 10px;
  }
  
  .search label {
    position: relative;
    width: 100%;
  }
  
  .search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
  }
  
  .search label i {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 1.2rem;
  }

  .details {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-gap:10px ;
  }


  .details .patient {
    position: relative;
    display: grid;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background:#2e2185;
    padding: 20px;
    
  }

  .cardHeader h2 {
    font-weight: 600;
    color: var(--white);
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }
  
  table {
    border-collapse: collapse;
    margin: 10px;
  }
  
  th, td {
    padding: 8px;
    border: 1px solid #f2f2f2;
   
  }
  
  th {
    text-align: center;
    background-color: #f5f5f5;
    width: 30%;
  }
  

  .details .emergency {
    position: relative;
    display: grid;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  }

  .details .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background:#2e2185;
    padding: 20px;
    
  }

  .cardHeader h2 {
    font-weight: 600;
    color: var(--white);
  }
  .cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
  }

  .history {
    position: relative;
    padding: 20px;
    margin-top: 10px;
    max-height: 500px ;
  }

  .history .cardHeader {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background:#2e2185;
    padding: 20px;
    height: 70px;
    
  }

  .history .medical {
    position: relative;
    display: grid;
    background: var(--white);
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    max-height: 660px;
    overflow-y: scroll;
  }

  .pop-modal {
    position: relative;
    width: 100%;
    padding: 20px;
  }

  .pop-modal .patient {
    position: relative;
    display: grid;    
  }

  .pop-modal .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background: #2e2185;
    padding: 20px;
    color: #fff;
  }

  .cardHeader h2 {
    font-weight: 600;
    color: var(--white);
  }

.patient {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}
.patient table {
  padding: 20px;

}

.patient label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}
.patient  input[type="text"] {
  width: 70%;
  padding: 5px;
  border: none;
  font-size: 16px;
}

.patient  input[type="number"] {
  width: 70%;
  padding: 5px;
  border: none;
  font-size: 16px;
}
.patient input[type="date"] {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
}

.patient select {
  width: 30%;
  padding: 5px;
  margin-bottom: 10px;
}

.patient .buttons {
  padding: 20px;
}

.patient button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.patient button[type="reset"] {
  background: red;
}
.patient button[type="reset"]:hover {
  background: rgb(235, 123, 123);
}

.patient button[type="submit"] {
  background: green;
}
.patient button[type="submit"]:hover {
  background: rgb(94, 203, 94);
}
.patient button[type="button"]:hover {
  background: rgb(120, 123, 120);
}
.details .patient {
  position: relative;
  display: grid;    
}

.details .cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top:0;
  background: #2e2185;
  padding: 20px;
  color: #fff;
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--white);
}

.newPresc {
margin-bottom: 5px;
font-weight: bold;
}
.newPresc form {
padding: 20px;
width: 100%;
background:#fff;
}

.newPresc label {
display: flex;
margin-bottom: 5px;
font-weight: bold;
}
.newPresc  input[type="text"] {
width: 70%;
padding: 5px;
margin-bottom: 10px;
}

.newPresc input[type="date"] {
width: 30%;
padding: 5px;
margin-bottom: 10px;
}

.newPresc select {
width: 30%;
padding: 5px;
margin-bottom: 10px;
}

.newPresc button {
margin-right: 10px;
padding: 10px;
border: none;
border-radius: 5px;
}

.newPresc button[type="reset"] {
background: red;
}

.newPresc button[type="submit"] {
background: green;
}
.newPresc button[type="submit"] {
  background: green;
}
.newPresc button[type="reset"]:hover {
  background: rgb(235, 123, 123);
}
.newPresc button[type="submit"]:hover {
  background: rgb(94, 203, 94);
}
.newPresc button[type="button"]:hover {
  background: rgb(120, 123, 120);
}

.newPatient {
  margin-bottom: 5px;
  font-weight: bold;
  }
  .newPatient form {
  padding: 20px;
  width: 100%;
  background:#fff;
  }
  

  .newPatient label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
  }


  .newPatient  input[type="text"] {
  width: 70%;
  padding: 5px;
  margin-bottom: 10px;
  }
  
  .newPatient input[type="date"] {
  width: 30%;
  padding: 5px;
  margin-bottom: 10px;
  }
  
  .newPatient select {
  width: 30%;
  padding: 5px;
  margin-bottom: 10px;
  }
  
  .newPatient button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  }

  .pop-modal .emergency {
    position: relative;
    display: grid;    
  }

  .pop-modal .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top:0;
    background: #2e2185;
    padding: 20px;
    color: #fff;
  }

  .cardHeader h2 {
    font-weight: 600;
    color: var(--white);
  }

.emergency {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}
.emergency table {
  padding: 20px;

}

.emergency label {
  display: flex;
  margin-bottom: 5px;
  font-weight: bold;
}
.emergency  input[type="text"] {
  width: 70%;
  padding: 5px;
  border: none;
  font-size: 16px;
}

.emergency  input[type="number"] {
  width: 70%;
  padding: 5px;
  border: none;
  font-size: 16px;
}
.emergency input[type="date"] {
  width: 50%;
  padding: 5px;
  margin-bottom: 10px;
}

.emergency select {
  width: 30%;
  padding: 5px;
  margin-bottom: 10px;
}

.emergency .buttons {
  padding: 20px;
}

.emergency button {
  margin-right: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.emergency button[type="reset"] {
  background: red;
}
.emergency button[type="reset"]:hover {
  background: rgb(235, 123, 123);
}

.emergency button[type="submit"] {
  background: green;
}
.emergency button[type="submit"]:hover {
  background: rgb(94, 203, 94);
}
.emergency button[type="button"]:hover {
  background: rgb(120, 123, 120);
}
.details .emergency {
  position: relative;
  display: grid;    
}
  
#myModal {

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
#myModal-Emergency {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

#myModal-Patient {

  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}
.modal-dialog {
  margin: 0 auto;
  padding: 20px;
  width: 50%;
  max-width:100%;
}


  @media (max-width: 991px) {
    .navigation {
      left: -300px;
    }
    .navigation.active {
      width: 300px;
      left: 0;
    }
    .main {
      width: 100%;
      left: 0;
    }
    .main.active {
      left: 300px;
    }
    .cardBox {
      grid-template-columns: repeat(2, 1fr);
    }

    .information {
        grid-template-columns: repeat(1, 1fr)
    }
    .modal-dialog {
      margin: 0 auto;
      padding: 20px;
      width: 100%;
      max-width:100%;
    }

    .patient input[type="text"] {
      width: 100%;
      padding: 5px;
      border: none;
      font-size: 16px;
  }
 

  }
  
  @media (max-width: 768px) {
    .details {
      grid-template-columns: 1fr;
    }
    .recentOrders {
      overflow-x: auto;
    }
    .status.inProgress {
      white-space: nowrap;
    }
    .information {
        grid-template-columns: repeat(1, 1fr)
    }
    .modal-dialog {
      margin: 0 auto;
      padding: 20px;
      width: 100%;
      max-width:100%;
    }
    .patient input[type="date"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    .patient select {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    .patient input[type="text"] {
      width: 100%;
      padding: 5px;
      border: none;
      font-size: 16px;
  }

  .emergency input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .emergency select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  .emergency input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
    font-size: 16px;
}
 
  }
  
  @media (max-width: 480px) {
    .cardBox {
      grid-template-columns: repeat(1, 1fr);
    }
    .cardHeader h2 {
      font-size: 20px;
    }
    .user {
      min-width: 40px;
    }
    .navigation {
      width: 100%;
      left: -100%;
      z-index: 1000;
    }
    .navigation.active {
      width: 100%;
      left: 0;
    }
    .toggle {
      z-index: 10001;
    }
    .main.active .toggle {
      color: #fff;
      position: fixed;
      left: initial;
    }
    .information {
        grid-template-columns: repeat(1, 1fr)
    }
    .patient input[type="date"] {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    
    .patient select {
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
    }
    .patient input[type="text"] {
      width: 100%;
      padding: 5px;
      border: none;
      font-size: 16px;
  }
  .emergency input[type="date"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .emergency select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  .emergency input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;
  }

  
  }
  




